// Place all the styles related to the related blueprint here.
// You can use LESS in this file: http://lesscss.org/
//
// To compile this file to CSS and serve it from your template, use the
// following code:
//
// {% block css %}
//   {% assets filters="less,cleancss", output="{{{ name }}}.css",
//             "less/{{{ name }}}.less" %}
//       <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
//   {% endassets %}
// {% endblock %}
