language: python
python:
  - 2.6
  - 2.7
  - 3.3
  - pypy

install:
  # Install all required Node.js packages
  - npm install -g bower less clean-css coffee-script uglify-js
  # Install client-side libraries via Bower
  - bower install
  # Install all required Python packages
  - pip install -r requirements.txt
  # Install all required Python 2.6 packages if necessary
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install -r requirements-2.6.txt; fi

script:
  # Run all application tests
  - ./manage.py tests

notifications:
  # Disable email notifications if something fails
  email: false
