Flask==0.10.1
Flask-Assets==0.9
git+https://github.com/fgimian/flask-bcrypt.git@python3
git+https://github.com/fgimian/flask-failsafe.git@cleanup
Flask-Login==0.2.9
Flask-Migrate==1.2.0
git+https://github.com/fgimian/flask-testing.git@python3
Flask-Script==0.6.7
Flask-WTF==0.9.4
flake8==2.1.0
