{% extends "layout.html" %}
{% set title = "Flaskage" %}
{% block body %}
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="inner cover">
          <h1 class="cover-heading">Flaskage</h1>
          <img id="flaskage" src="{{ url_for('static', filename='img/flaskage.png') }}">
          <p class="lead">
            A complete and carefully designed template for use with the Flask web
            framework
          </p>
          <p class="lead">
            <a href="https://github.com/fgimian/flaskage" class="btn btn-lg btn-default">Learn more</a>
          </p>
        </div>
        <div class="mastfoot">
          <div class="inner">
            <p>
              Cover template for <a href="http://getbootstrap.com">Bootstrap</a>,
              by <a href="https://twitter.com/mdo">@mdo</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
