<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <!-- Global Stylesheets -->
    {% assets filters="less,cleancss", output="css/flaskage.css",
              depends="less/bootstrap/*.less", "less/flaskage.less" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}

    <!-- Blueprint Stylesheets -->
    {% block css %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
      <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->
  </head>
  <body>
    {% block body %}
    {% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Global Javascripts -->
    {% assets filters="coffeescript,uglifyjs", output="js/flaskage.js",
              "coffee/flaskage.coffee" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <!-- Blueprint Javascripts -->
    {% block js %}{% endblock %}
  </body>
</html>
