from app import db
from app.models import {{{ name_camelcase }}}

from faker import Factory
import factory
from factory.alchemy import SQLAlchemyModelFactory

fake = Factory.create()


class {{{ name_camelcase }}}Factory(SQLAlchemyModelFactory):
    FACTORY_FOR = {{{ name_camelcase }}}
    FACTORY_SESSION = db.session

{{% for name, column_factory_definition in column_factory_definitions %}}
    {{{ name }}} = factory.LazyAttribute(lambda a: {{{ column_factory_definition }}})
{{% endfor %}}
