# -*- coding: utf-8 -*-
import os

from flask import Blueprint, render_template

mod = Blueprint(
    '{{{ name }}}', __name__, url_prefix='/{{{ name }}}'
)


@mod.route('/')
def index():
    return render_template('{{{ name }}}/index.html')
