# Place all appropriate actions related to the related blueprint here.
# You can use CoffeeScript in this file: http://coffeescript.org/
#
# To compile this file to Javascript and serve it from your template, use
# the following code:
#
# {% block js %}
#   {% assets filters="coffeescript,uglifyjs", output="assets/{{{ name }}}.js",
#             "coffee/{{{ name }}}.coffee" %}
#     <script src="{{ ASSET_URL }}"></script>
#   {% endassets %}
# {% endblock %}
