# -*- coding: utf-8 -*-
from flask.ext.assets import Bundle, Environment

assets = Environment()

assets.register(
    'css_all',
    Bundle(
        Bundle(
            'less/{{{ name }}}.less',
            filters=['less']
        ),
        filters='cleancss',
        output='assets/{{{ name }}}.css'
    )
)

assets.register(
    'js_all',
    Bundle(
        'jquery/dist/jquery.js',
        'bootstrap/dist/js/bootstrap.js',
        Bundle(
            'coffee/{{{ name }}}.coffee',
            filters=['coffeescript']
        ),
        filters='uglifyjs',
        output='assets/{{{ name }}}.js'
    )
)

assets.register(
    'js_ie8',
    Bundle(
        'html5shiv/dist/html5shiv.js',
        'respond/dest/respond.src.js',
        filters='uglifyjs',
        output='js/ie8.js'
    )
)
