<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <!-- Global Stylesheet -->
    {% assets "css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}

    <!-- Blueprint Stylesheets -->
    {% block css %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      {% assets "js_ie8" %}
        <script src="{{ ASSET_URL }}"></script>
      {% endassets %}
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
      {% block body %}{% endblock %}
    </div>

    <!-- Global Javascript -->
    {% assets "js_all" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <!-- Blueprint Javascripts -->
    {% block js %}{% endblock %}
  </body>
</html>
