# Python byte-compiled, optimized and DLL files
*.py[cod]

# Nosetests and coverage information
.coverage
nosetests.xml
coverage.xml

# Webassets cache
app/static/.webassets-cache/

# Compiled versions of assets
app/static/assets/*

# Vendor-provided components
vendor/assets/*/
